{
  "openapi": "3.0.0",
  "info": {
    "title": "test spec",
    "version": "0.0.1",
    "contact": {
      "url": "https://www.codefresh.io"
    }
  },
  "x-service-name": "test",
  "x-base-path": "/api",
  "x-internal-services": [
    "buda",
    "pest"
  ],
  "x-endpoint-conditions": [
    {
      "weight": 0,
      "condition": "global.non-loaded",
      "handlerRegex": "(.*)\\.globalConditional(.+)LoadedEndpoint"
    },
    {
      "weight": 0,
      "condition": "global.loaded",
      "handlerRegex": "(.*)\\.globalConditionalLoadedEndpoint"
    },
    {
      "weight": 1,
      "condition": "global.overrided-loaded",
      "handlerRegex": "(.*)\\.globalConditionalOverridedLoadedEndpoint"
    }
  ],
  "servers": [
    {
      "url": "http://local.codefresh.io:9010/api"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Test",
      "description": "test",
      "x-id": "test"
    }
  ],
  "paths": {
    "/not-existing": {
      "get": {
        "tags": ["test"],
        "operationId": "test-not-existing-endpoint",
        "x-sdk-interface": "test.notExistingEndpoint",
        "summary": "Endpoint",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        }
      }
    },
    "/endpoint": {
      "get": {
        "tags": ["test"],
        "operationId": "test-endpoint",
        "x-sdk-interface": "test.endpoint",
        "summary": "Endpoint",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.endpoint"
        }
      }
    },
    "/non-endpoint": {
      "get": {
        "tags": ["test"],
        "operationId": "test-non-endpoint",
        "x-sdk-interface": "test.nonEndpoint",
        "summary": "Endpoint",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "isEndpoint": false,
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.nonEndpoint"
        }
      }
    },
    "/conditional-loaded": {
      "get": {
        "tags": ["test"],
        "operationId": "test-conditional-loaded-endpoint",
        "x-sdk-interface": "test.conditionalLoadedEndpoint",
        "summary": "Endpoint",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "condition": "test.loaded",
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.conditionalLoadedEndpoint"
        }
      }
    },
    "/conditional-non-loaded": {
      "get": {
        "tags": ["test"],
        "operationId": "test-conditional-non-loaded-endpoint",
        "x-sdk-interface": "test.conditionalNonLoadedEndpoint",
        "summary": "Endpoint",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "condition": "test.non-loaded",
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.conditionalNonLoadedEndpoint"
        }
      }
    },
    "/global/conditional-loaded": {
      "get": {
        "tags": ["test"],
        "operationId": "test-global-conditional-loaded-endpoint",
        "x-sdk-interface": "test.globalConditionalLoadedEndpoint",
        "summary": "Endpoint",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.globalConditionalLoadedEndpoint"
        }
      }
    },
    "/global/conditional-non-loaded": {
      "get": {
        "tags": ["test"],
        "operationId": "test-global-conditional-non-loaded-endpoint",
        "x-sdk-interface": "test.globalConditionalNonLoadedEndpoint",
        "summary": "Endpoint",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.globalConditionalNonLoadedEndpoint"
        }
      }
    },
    "/global/conditional-overrided-loaded": {
      "get": {
        "tags": ["test"],
        "operationId": "test-global-conditional-overrided-loaded-endpoint",
        "x-sdk-interface": "test.globalConditionalOverridedLoadedEndpoint",
        "summary": "Endpoint",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.globalConditionalOverridedLoadedEndpoint"
        }
      }
    },
    "/params-endpoint/optional/{param_1}/{param_2}": {
      "get": {
        "tags": ["test"],
        "operationId": "test-params-optional-endpoint",
        "x-sdk-interface": "test.paramsOptionalEndpoint",
        "summary": "Endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "param_1",
            "description": "param_1",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "param_2",
            "description": "param",
            "schema": {
              "type": "string"
            },
            "required": false,
            "x-optional": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.paramsOptionalEndpoint"
        }
      }
    },
    "/params-endpoint/{param_1}/{param_2}": {
      "get": {
        "tags": ["test"],
        "operationId": "test-params-endpoint",
        "x-sdk-interface": "test.paramsEndpoint",
        "summary": "Endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "param_1",
            "description": "param_1",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "param_2",
            "description": "param",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.paramsEndpoint"
        }
      }
    },
    "/error-endpoint": {
      "get": {
        "tags": ["test"],
        "operationId": "test-error-endpoint",
        "x-sdk-interface": "test.errorEndpoint",
        "summary": "Endpoint",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware",
            "global.errorMiddleware"
          ],
          "handler": "test.errorEndpoint"
        }
      }
    },
    "/auth-endpoint": {
      "get": {
        "tags": ["test"],
        "operationId": "test-auth-endpoint",
        "x-sdk-interface": "test.authEndpoint",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "middleware": [
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "test",
              "abac": true
            }
          },
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/auth/auto-define": {
      "get": {
        "tags": ["test"],
        "operationId": "test-auth-get",
        "x-sdk-interface": "test.authGet",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "abac": true
            }
          },
          "handler": "test.authEndpoint"
        }
      },
      "post": {
        "tags": ["test"],
        "operationId": "test-auth-post",
        "x-sdk-interface": "test.authPost",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "abac": true
            }
          },
          "handler": "test.authEndpoint"
        }
      },
      "put": {
        "tags": ["test"],
        "operationId": "test-auth-put",
        "x-sdk-interface": "test.authPut",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "abac": true
            }
          },
          "handler": "test.authEndpoint"
        }
      },
      "patch": {
        "tags": ["test"],
        "operationId": "test-auth-patch",
        "x-sdk-interface": "test.authPatch",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "abac": true
            }
          },
          "handler": "test.authEndpoint"
        }
      },
      "delete": {
        "tags": ["test"],
        "operationId": "test-auth-delete",
        "x-sdk-interface": "test.authDelete",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "abac": true
            }
          },
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/auth/with-resource": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.authWithResource",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "resource": "test_1",
              "abac": true
            }
          },
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/auth/with-action": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.authWithAction",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "action": "test",
              "abac": true
            }
          },
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/auth/with-additional-properties": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.authWithAdditional",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "property": "test",
              "abac": true
            }
          },
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/auth/with-explicit-abac-options": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.authWithAdditional",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "description": "test",
              "abac": true,
              "abacOptions": [
                {
                  "action": "read"
                },
                {
                  "action": "custom",
                  "description": "custom"
                }
              ]
            }
          },
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/auth/explicit-abac": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.auth.explicitAbac",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "abac": true,
              "abacSource": "test_2",
              "resource": "resource_without_abac"
            }
          },
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/auth/with-abac-not-enabled": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.auth.abacNotEnabled",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/auth/with-scopes-disabled": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.auth.scopesDisabled",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "disableScopes": true
            }
          },
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/scopes/common": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.scopes.common",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "postMiddleware": [
            "global.errorMiddleware"
          ],
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/scopes/read": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.scopes.read",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "postMiddleware": [
            "global.errorMiddleware"
          ],
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/scopes/write": {
      "post": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.scopes.post",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "postMiddleware": [
            "global.errorMiddleware"
          ],
          "handler": "test.authEndpoint"
        }
      },
      "put": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.scopes.put",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "postMiddleware": [
            "global.errorMiddleware"
          ],
          "handler": "test.authEndpoint"
        }
      },
      "patch": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.scopes.patch",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "postMiddleware": [
            "global.errorMiddleware"
          ],
          "handler": "test.authEndpoint"
        }
      },
      "delete": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.scopes.delete",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "postMiddleware": [
            "global.errorMiddleware"
          ],
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/scopes/action": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.scopes.action",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "action": "action"
            }
          },
          "postMiddleware": [
            "global.errorMiddleware"
          ],
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/scopes/scope": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-auth-with-resource",
        "x-sdk-interface": "test.scopes.scope",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "auth": {
            "acl": {
              "scope": "scope"
            }
          },
          "postMiddleware": [
            "global.errorMiddleware"
          ],
          "handler": "test.authEndpoint"
        }
      }
    },
    "/test/array-handler": {
      "get": {
        "tags": [
          "test"
        ],
        "operationId": "test-array-handler",
        "x-sdk-interface": "test.arrayHandler",
        "summary": "Endpoint with auth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "acl": {
              "scope": "scope"
            }
          },
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.array.arrayHandler"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Json": {
        "type": "object",
        "properties": {

        },
        "description": "Json"
      }
    },
    "requestBodies": {
      "Json": {
        "description": "Json",
        "content": {
          "application/Json": {
            "schema": {
              "$ref": "#/components/schemas/Json"
            }
          }
        }
      }
    },
    "responses": {
      "Json": {
        "description": "Json",
        "content": {
          "application/Json": {
            "schema": {
              "$ref": "#/components/schemas/Json"
            }
          }
        }
      }
    }
  }
}
