{
  "openapi": "3.0.0",
  "info": {
    "title": "test spec",
    "version": "0.0.1",
    "contact": {
      "url": "https://www.codefresh.io"
    }
  },
  "x-service-name": "test",
  "x-base-path": "/api",
  "x-internal-services": [
  ],
  "servers": [
    {
      "url": "http://local.codefresh.io:9010/api"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Test",
      "description": "test",
      "x-id": "test"
    }
  ],
  "paths": {
    "/endpoint": {
      "get": {
        "tags": ["test"],
        "operationId": "test-endpoint",
        "x-sdk-interface": "test.endpoint",
        "summary": "Endpoint",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/json"
          }
        },
        "x-endpoint": {
          "preMiddleware": [
            "test.preMiddleware"
          ],
          "postMiddleware": [
            "test.postMiddleware"
          ],
          "handler": "test.endpoint"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "json": {
        "type": "object",
        "properties": {

        },
        "description": "json"
      }
    },
    "requestBodies": {
      "json": {
        "description": "json",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/json"
            }
          }
        }
      }
    },
    "responses": {
      "json": {
        "description": "json",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/json"
            }
          }
        }
      }
    }
  }
}
